<%= form_for(assignment) do |f| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :course_id %>
      <%= f.number_field :course_id %>
    </div>

    <div class="field">
      <%= f.label :assignment_name %>
      <%= f.text_field :assignment_name %>
    </div>

    <div class="field">
      <%= f.label :submission_status %>
      <%= f.text_field :submission_status %>
    </div>

    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>


      <div class="actions">
    <%= f.submit %>
  </div>

    <% end %>
